/*==============================
-Import Files
===============================*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

p, .nav {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.l-top-header {
  padding-top: 60px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .l-top-header {
    width: 95%;
  }
}

.l-top-header__title {
  width: 160px;
  height: auto;
}

.l-top-header__first-view {
  width: 100%;
  display: block;
  margin-top: 15px;
}

.l-top-main {
  margin-top: 60px;
}

.l-top-main__index-background {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .l-top-main__index-background {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.l-top-main__index-wrap {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .l-top-main__index-wrap {
    width: 72%;
  }
}

@media screen and (max-width: 767px) {
  .l-top-main__index-wrap {
    width: 85%;
  }
}

.l-top-main__index-title {
  font-size: 18px;
  font-weight: bold;
}

.l-top-main__index-lists {
  margin-top: 10px;
}

.l-top-main__index-lists li {
  margin-bottom: 20px;
  margin-left: 16px;
  font-size: 14px;
  list-style-type: decimal;
}

@media screen and (max-width: 767px) {
  .l-top-main__index-lists li {
    line-height: 1.5em;
  }
}

.l-top-main__index-lists li:last-child {
  margin-bottom: 0;
}

.l-top-main__detail-wrap {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

@media screen and (max-width: 1023px) {
  .l-top-main__detail-wrap {
    width: 72%;
  }
}

@media screen and (max-width: 767px) {
  .l-top-main__detail-wrap {
    width: 85%;
  }
}

.l-top-main__detail-title {
  font-size: 18px;
}

.l-top-main__detail-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

@media screen and (max-width: 1023px) {
  .l-top-main__detail-content-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-top-main__content-img {
  width: 270px;
  height: auto;
  display: block;
}

.l-top-main__detail-right-wrap {
  width: 267px;
}

@media screen and (max-width: 1023px) {
  .l-top-main__detail-right-wrap {
    width: 100%;
    margin-top: 20px;
  }
}

.l-top-main__detail-content-img {
  width: 270px;
  height: 270px;
}

@media screen and (max-width: 1023px) {
  .l-top-main__detail-content-img {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 767px) {
  .l-top-main__detail-content-img {
    width: 100%;
    height: 100%;
  }
}

.l-top-main__detail-right-title {
  font-size: 18px;
  font-weight: bold;
}

.l-top-main__detail-right-block {
  font-size: 14px;
  margin-top: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}

.l-top-main__detail-right-block p {
  margin-bottom: 10px;
}

.l-top-main__detail-right-block span {
  display: inline-block;
  margin-left: 26px;
}

.l-top-main--detail-right-margin {
  margin-left: 40px !important;
}

.l-top-main__detail-right-explain {
  line-height: 2em;
  margin-top: 25px;
  font-size: 14px;
}

.l-top-main___detail-right-link {
  text-decoration: underline;
  display: block;
  margin-top: 20px;
  color: #000;
  font-size: 14px;
}

.l-top-footer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  margin-top: 115px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1023px) {
  .l-top-footer {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .l-top-footer {
    width: 85%;
  }
}

.u-another-background {
  background-color: #F4F9FF;
}
/*# sourceMappingURL=style.css.map */